<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<!-- message to console -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%x] %-5p (%F:%L) - %m%n" />
		</layout>
	</appender>

	<!-- message to application -->
	<appender name="FILE-FOR-ASYNC" class="org.apache.log4j.varia.NullAppender">
		<!-- (2)layoutの設定 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%x] %-5p (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE-FOR-ASYNC" />
	</appender>

	<!-- [jp.airlink] log out -->
	<logger name="jp.airlink" additivity="false">
		<level value="info" />
		<appender-ref ref="FILE" />
	</logger>
	<!-- [org.seasar] log out -->
	<logger name="org.seasar" additivity="false">
		<level value="debug" />
		<appender-ref ref="FILE" />
	</logger>
	<!-- [org.apache] log out -->
	<logger name="org.apache" additivity="false">
		<level value="info" />
		<appender-ref ref="FILE" />
	</logger>
	<!-- [org.apache] log out -->
	<logger name="org.seasar.framework.util.ResourcesUtil" additivity="false">
		<level value="error" />
		<appender-ref ref="FILE" />
	</logger>
	<root>
		<level value="info" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>

